.body-section {
    margin-left: 20%;
    margin-right: 20%;
}

  .title-container {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
  
    .icon {
      margin-right: 10px;
      color: #36454F;
    }
  
    .title {
      font-size: 24px;
      color: #36454F;
      margin: 0;
    }