.my-status {
  padding: 20px;
}

.calendar-container, .list-container {
  padding: 20px;
  height: 100%;
}

.list-container {
  max-height: 700px;
  overflow-y: auto;
}

.counseling-list-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.toastui-calendar-layout {
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.toastui-calendar-column-day {
  text-align: left !important;
  padding-left: 8px !important;
}