.pagination-v2 {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5px;
}

.pagination-btn-v2 {
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;

    background-color: white;
    color: black;

    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.pagination-btn-v2.active {
    background-color: #A51C30;
    color: white;

    cursor: default;
}

.pagination-btn-v2.hidden {
    display: none;
}