.body-section {
    margin-left: 15%;
    margin-right: 15%;
}
.menu-content-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}
.step-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    padding: 10px;
}